# dependencies
node_modules/

# build output
dist/

# astro generated types
.astro/

# environment variables
*.env
.env.*

# OS artifacts
.DS_Store
Thumbs.db

# editor
.idea/
*.code-workspace
.vscode/*
!.vscode/extensions.json
